@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.mainApp {
  margin: 10px;     
  padding: 20px;
  background-color: #ffcb05;
  border: 10px solid #2a75bb;
}

#pokemon-search {
	padding: 10px;
}

#pokemon-select {
	padding: 10px;
}

#images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#pokemonDetail {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: 'Press Start 2P';
}

table, th, td {
  border-collapse: collapse;
  border: 3px solid #2a75bb;
}

th, td {
  border-bottom: 1px solid grey;
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: ivory;
}

tr:hover {
  background-color: #f5ebbc;
}