{% extends "base.html" %}

{% block header %} Pokemon Search! {% endblock %}

{% block pokemonSearchbar %}
  <form method="POST">
    <input type="text" name="searchedPokemon" placeholder="search for a Pokemon..." />
    <input type="submit" value="submit" />
  </form>
{% endblock %}

{% block pokemonSelect %}
  <select v-on:change="handleSelect" v-model="selectedPokemon">
    <option disabled value="">Select a Pokemon...</option>
    {% for pokemon in all_pokemon %}
      <option value={{ pokemon }} key={{ pokemon.url }}>{{ pokemon.name }}</option>
    {% endfor %}
  </select>
{% endblock %}
